In [5]:
import psycopg2

PGHOST = 'localhost'
PGPORT = "5432"
PGDATABASE = 'postgres'
PGUSER = 'postgres'
PGPASSWORD = 'icecreamempire_s4'


class Queries:
    def __init__(self)-> None:
        self.conn = psycopg2.connect(host=PGHOST, port=PGPORT, dbname=PGDATABASE, user=PGUSER, password=PGPASSWORD)
        

    def get_users(self):
        """
        Example Function to execute a sql statement
        """
        sql= """
            SELECT * FROM Student
        """
        return self.__execute_sql(sql)
    
    def __execute_sql(self, sql: str):
        try:
            cur = self.conn.cursor()
            cur.execute(sql)
            return cur.fetchall()
        except (Exception, psycopg2.DatabaseError) as error:
            print(error)
    

# comand to start the db by its own
# docker run --name basic-postgres --rm -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=icecreamempire_s4 -e PGDATA=/var/lib/postgresql/data/pgdata -v /tmp:/var/lib/postgresql/data -p 5432:5432 -it postgres:14.1-alpine

In [4]:
! docker run --name basic-postgres --rm -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=icecreamempire_s4 -e PGDATA=/var/lib/postgresql/data/pgdata -v /tmp:/var/lib/postgresql/data -p 5432:5432 -d postgres:14.1-alpine

5c181dbd435a1b8cef8a045eb69b98c433d405988338d1f89314dd8306f2226d

In [24]:
db = Queries()
conn = db.conn
cursor = conn.cursor()

In [11]:
create_table_query = "create table Student \
        (id int primary key ,   \
        fname varchar(30)  not null, \
        year int); "
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()
cursor.close()

In [25]:
insert_query = "INSERT INTO Student (id, fname, year)" \
                "VALUES (1, 'hallo', 1)"
cursor = conn.cursor()
cursor.execute(insert_query)
conn.commit()
cursor.close()

In [26]:
db.get_users()

[(1, 'hallo', 1)]

In [15]:
sql= """
    SELECT * FROM Student
"""
cursor.execute(sql)
cursor.fetchall()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block